table.borderless td,table.borderless th{
    border: none !important;
}
#logo{

    width:40px;
    height:30px;
}
#img{
   width:170px;
   height:170px;
}

header{
    background-color: rgb(250, 239, 239);
    padding-bottom: 1%;

}
.navbar-left{
    padding-left: 50px;
   padding-right: 50em;
}


.pc-border {
    padding-top: 100%;
    border-radius: 100%;
}

.pc-circle {
    position: relative;
    margin-top: -90%;
    margin-left: 10%;
    width: 80%;
    padding-top: 80%;
    border-radius: 100%;
}

.pc-percent {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1EM;
}

.demo-percent-container {
	width: 13%;
    margin: 20px 3%;
    margin-left:8%;
    display: inline-block;
}

